* {
    box-sizing: border-box;
  }
  
  .center {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center
  }
  .card {
    background-color: #FFC;
    border: 1px solid rgba(0,0,0,1.125);
  }

  form {
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid black;
    border-radius: .25rem;
    margin-top: 1rem;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
  }
  form input {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid black;
    border-radius: .25rem;
  }
 
  form button:hover {
    cursor: pointer;
  }
  
  label {
    text-align: left;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
  }
  
  form input {
    padding: 0.5em;
    margin-bottom: 0.5rem;
  }
    
  @media (min-width: 400px) {
    form {
      overflow: hidden;
    }
  
    label {
      float: left;
      width: 100px;
    }
  
    input {
      width: calc(100% - 100px);
    }
  
  }

.roundBorder {
  border: 1px solid black;
  border-radius: .25rem;
  margin-bottom: 6px;
}